# Managed by ansible

sendmail    /usr/local/sbin/smtpctl
send-mail   /usr/local/sbin/smtpctl
mailq       /usr/local/sbin/smtpctl
makemap     {{ opensmtpd_makemap_bin }}
newaliases  {{ opensmtpd_makemap_bin }}
